.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 130px 40px 0 40px;
}
.aboutMe {
    color: #2B405F;
    font-size: 1.5em;
    border-bottom: solid 2.5px #2B405F;
    font-weight: 600;
    padding: 0 0 20px 10px;
    font-family: 'Montserrat';
}
.bioSection {
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.bioImg {
    height: 20em;
    padding: 20px;
    border: 1.5px solid white;
}
.bioText {
    padding: 0 50px;
    line-height: 1.5;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.2em;
    color: #1E2F49;
}