.nav {
    background-color: #5F7BA4;
}
.toolbar {
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
}
.nameRow {
    align-items: center;
}
.name {
    text-align: center;
    font-family: Poppins;
    font-size: 1.6em;
}
.headerIcon {
    height: 70px;
    padding-right: 10px;
}
.MuiButton-label {
    color: #fff;
    font-family: Poppins;
    font-size: 1.1em;
}