.nav {
    background-color: #5F7BA4;
}
.toolbar {
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
}
.name {
    text-align: center;
    font-family: Poppins;
    font-size: 1.6em;
}
.MuiButton-label {
    color: #fff;
    font-family: Poppins;
    font-size: 1.1em;
}